<!DOCTYPE html>
<html>
  <head>
    <title>FSP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'entry' %>
    <% if logged_in? %>
  <script type="text/javascript">
      window.currentUser =
        <%= (current_user.to_json).html_safe %>
  </script>
<% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
