<!DOCTYPE html>
<html>
  <head>
    <title>FSP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--
    <link href="https://fonts.googleapis.com/css?family=Kulim+Park:200,200i,300,300i,400,400i,600,600i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/2af014eb75.js"></script>

    <%= favicon_link_tag asset_path('favicon.ico') %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'entry' %>

    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser =
          <%= (current_user.to_json).html_safe %>;
        window.wallet = 
          <%= current_user.watchlist.coins.map{|el| el['name'] = {name: el['name'], id: el['id']} }.to_json.html_safe %>
      </script>
  <% end %>

  </head>

  <body>
    <div id="general-container">
      <%= yield %>
    </div>
  </body>


</html>
